<div class="add__fruit">
    <div class="wrap">
        <div class="add__fruit-w">
            <form action="/update-fruit/{{fruit._id}}" method="post" id="add__fruit" enctype="multipart/form-data">
                <h1 style="text-align: center;font-weight: bold;">Sửa thông tin</h1>
                <label class="label__add" for="name">Tên:
                    <input value="{{fruit.name}}" required type="text" id="name" name="name">
                </label>
                <label class="label__add" for="quantity">Số lượng:
                    <input value="{{fruit.quantity}}" required type="number" id="quantity" name="quantity">
                </label>
                <label class="label__add" for="price">Giá:
                    <input value="{{fruit.price}}" required type="number" id="price" name="price">
                </label>
                <label class="label__add" for="status">Trạng thái:
                    <input value="{{fruit.status}}" required type="number" id="status" name="status">
                </label>
                <label class="label__add" for="thumbnail">Ảnh sản phẩm:
                    <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
                </label>
                <label class="label__add" for="">ㅤ
                    <img id="previewImage" style="width: 56px;height: 56px;display: block;object-fit: cover;"
                        src="{{fruit.thumbnail}}" alt="">
                </label>
                <label class="label__add" for="description">Mô tả:
                    <input value="{{fruit.description}}" required type="text" id="description" name="description">
                </label>
                <label class="label__add" for="id_distributor">Loại:
                    <select name="id_distributor" id="id_distributor">
                        {{#each distributors}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </label>
                <button class="btn__addFruit" type="submit">Sửa Thông Tin</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('thumbnail').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const objectURL = URL.createObjectURL(file);
        const imgPreview = document.getElementById('previewImage');
        imgPreview.src = objectURL;
        imgPreview.onload = function () {
            URL.revokeObjectURL(objectURL);
        }
    });

    const selectedDistributor = document.querySelectorAll('option');
    const currentUrl = window.location.pathname;
    const match = currentUrl.match(/\/update-fruit\/([^\/]+)/);
    const fruitId = match[1];

    fetch(`/get-fruit-id/${fruitId}`)
        .then(res => res.json())
        .then(data => {
            selectedDistributor.forEach(e => {
                if (e.value === data.data.id_distributor) {
                    e.selected = true;
                }
            })
        })

</script>